<div id="wrapper">
<div id="contents">
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <%= form_tag( "/admin/login/complete", method: "post", id: "login_form" ) do %>
  <h3 class="c_align">ユーザーログイン</h3><br>
  <div id="loginbox" class="center">
    <table class="center" border="0">
      <tr>
	<th>メールアドレス: </th>
	<td><input type="text" value="" name="email" size="30" required /></td>
      </tr>
      <tr>
	<th>パスワード: </th>
	<td><input type="password" value="" name="password" size="30" required /></td>
      </tr>
      <tr>
	<td colspan="2" class="c_align">
	  <label><input type="checkbox" name="remember" value="1" checked <% if cookies[:id] %> checked <% end %>> ログイン状態を保持する</label>
	</td>
      </tr>
      <tr>
	<td align="center" class="btn" colspan="2" style="background-color:#fff">
	  <input type="submit" value="ログイン" class="btn" /><br>
	</td>
      </tr>	
    </table>
  </div><br>
  <% end %>
  <p align="center"><a href="/forgot_password">パスワードを忘れましたか？</a></p>

</div> <!-- contents -->
</div> <!-- wrapper -->
