<div id="wrapper">
<div id="contents">
  <h3 align="center">ギフト追加</h3><br>
  <%= form_tag( "/admin/rewards_prizy/add/complete", method: "post", id: "new_form" ) do %>
  <div class="toolbox">
    <table class="tbl_tools">
      <tr>
	<td>タイトル: </td>
	<td><input type="text" name="title" value="" size="32" maxlength="25" required/></td>
      </tr>
      <tr>
	<td>画像: </td>
	<td><input type="url" name="img_src" value="" size="32" required/></td>
      </tr>
      <tr>
	<td>詳細: </td>
	<td><textarea name="description" rows="5" cols="25" maxlength="100" placeholder="100文字以内"></textarea></td>
      </tr>
      <tr>
	<td>ポイント: </td>
	<td><input type="number" name="points" value="" min="0" required/></td>
      </tr>
      <tr>
	<td colspan="2" align="right">
	  <br>
	  <input type="button" value="戻る" class="btn_back btn" />
	  <input type="submit" value="送信" class="btn_submit btn" />
	</td>
      </tr>
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/admin/rewards_prizy";
});
</script>
