<!DOCTYPE html>
<html>
<head>
  <title>PerksTools</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/javascripts/canvasjs-1.8.5/canvasjs.min.js"></script>
  <script src="/assets/javascripts/canvasjs-1.8.5/jquery.canvasjs.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
